.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #ff0000; 
  filter: drop-shadow(0 0 3em #646cffaa);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  opacity: 0;
  animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

.title {
  margin: 0;
  font-size: 2rem;
  color: #fff;
} 